alembic
click
colorama
dominate
Flask
Flask-Migrate
Flask-SQLAlchemy
greenlet
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg2
psycopg2-binary
python-dotenv
SQLAlchemy
visitor
Werkzeug
flask-marshmallow
marshmallow-sqlalchemy
pymysql