@font-face {
    src: url(../assets/fonts/Ubuntu.ttf);
    font-family: Ubuntu;
}
@keyframes der {
    from {transform: translateX(100%);}
    to {transform: translateX(0%);}
}
@keyframes izq {
    from {transform: translateX(-100%);}
    to {transform: translateX(0%);}
}
@keyframes arr {
    from {transform: translateY(100%);}
    to {transform: translateY(0%);}
}
@keyframes aba {
    from {transform: translateY(-100%);}
    to {transform: translateY(0%);}
}
@keyframes cent {
    from {transform: scale(0);}
    to {transform: scale(1);}
}
@keyframes aa {
    from {transform: translateY(-5%);}
    to {transform: translateY(-20%);}
}
@keyframes gira {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg);}
}
:root {
    --azul: #0669b2;
}
* {
    box-sizing: border-box;
    user-select: none;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Ubuntu;
    background-color: #eee;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
}
.contenidos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.navBar {
    width: 100%;
    height: 10vh;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../assets/images/EasyParking.png);
    background-size: 50px;
    background-position: 8px;
    background-repeat: no-repeat;
    padding-right: 25px;
}
.subt {
    position: absolute;
    left: 60px;
    font-size: 1.4em;
    color: var(--azul);
    animation: arr 1s normal;
    transition: all 1s ease-in-out;
}
.navBar a {
    text-decoration: none;
    margin: 12px;
    padding: 8px;
    cursor: pointer;
    color: var(--azul);
    font-size: 14px;
    animation: aba 1.5s normal;
    transition: all 1s ease-in-out;
}
.leftSide {
    width: 50%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.leftSide h1 {
    color: #fff;
    font-weight: bold;
}
.rightSide {
    width: 50%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icono {
    width: 90%;
    height: 90%;
    pointer-events: none;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fondo {
    position: absolute;
    display: flex;
    max-width: 90%;
    max-height: 90%;
    /*animation: cent .8s normal;*/
    transition: all 1s ease-in-out;
}
.auto {
    position: absolute;
    display: flex;
    max-width: 90%;
    max-height: 90%;
    animation: izq 1s normal;
    transition: all 1s ease-in-out;
}
.person2 {
    position: absolute;
    display: flex;
    max-width: 90%;
    max-height: 90%;
    z-index: 2;
    animation: der 2s normal;
    transition: all 1s ease-in-out;
}
.engrane1 {
    z-index: 2;
    animation: der 2s normal;
    transition: all 1s ease-in-out;
}
.engrane11 {
    position: absolute;
    display: flex;
    margin: 10% 10% 50% 72%;
    max-width: 20%;
    max-height: 20%;
    transition: all 1s ease-in-out;
    animation: gira 8s infinite;
    animation-direction: normal;
}
.engrane2 {
    position: absolute;
    display: flex;
    margin: 10% 10% 34% 86%;
    max-width: 20%;
    max-height: 20%;
    transition: all 1s ease-in-out;
    animation: gira 6s infinite;
    animation-direction: reverse;
}
.moneda1 {
    position: absolute;
    display: flex;
    max-width: 90%;
    max-height: 90%;
    animation: izq 2.5s normal;
    transition: all 1s ease-in-out;
}
.moneda2 {
    position: absolute;
    display: flex;
    max-width: 90%;
    max-height: 90%;
    animation: izq 2s normal;
    transition: all 1s ease-in-out;
}
.moneda3 {
    position: absolute;
    display: flex;
    max-width: 90%;
    max-height: 90%;
    animation: izq 1s normal;
    transition: all 1s ease-in-out;
}
.person {
    position: absolute;
    display: flex;
    max-width: 90%;
    max-height: 90%;
    animation: izq 3s normal;
    transition: all 1s ease-in-out;
}
.ubic {
    position: absolute;
    display: flex;
    max-width: 90%;
    max-height: 90%;
    animation: aba 1s normal;
    transition: all 1s ease-in-out;
    z-index: 2;
}
.move {
    animation: aa 1.3s infinite;
    animation-direction: alternate;
    transition: all .6s ease-in-out;
}
.registerForm {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titles {
    font-size: 1.5em;
    color: var(--azul);
    animation: aba 1s normal;
    transition: all 1s ease-in-out;
}
.contForm,.contForm form {
    width: 90%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: der 1s normal;
    transition: all 1s ease-in-out;
}
.contForm form {
    width: 100%;
    height: 100%;
}
.labl_inp {
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.labl_inp label {
    color: var(--azul);
    font-size: 14px;
    opacity: 0;
    transition: all .7s ease-in-out;
}
.slct {
    width: 12rem;
    height: 2rem;
    border: 1px solid var(--azul);
    border-radius: 8px;
    padding: 5px;
    outline: none;
    color: var(--azul);
    margin: 10px 10px 10px 10px;
}
.labl_inp input[type="text"],
.labl_inp input[type="mail"],
.labl_inp input[type="number"] {
    width: 95%;
    height: 35px;
    padding: 5px 5px 3px 35px;
    border: 1px solid var(--azul);
    background-color: transparent;
    color: #101010;
    font-size: 16px;
    transition: all .7s ease-in-out;
    margin: 8px 0px 8px 0px;
    border-radius: 8px;
    outline: none;
    background-position: 8px;
    background-size: 25px;
    background-repeat: no-repeat;
}
.labl_inp input[type="radio"] {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.duoLine,.duoLineLogin {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.duoLineLogin {
    flex-direction: column;
}
.duoLine input::placeholder,.labl_inp input::placeholder {
    font-size: 13px;
    color: #2157bb77;
}
.duoLine input[type="tel"],
.duoLine input[type="text"],
.duoLine input[type="password"],
.duoLineLogin input[type="password"] {
    width: 90%;
    height: 35px;
    padding: 5px 5px 3px 35px;
    border: 1px solid var(--azul);
    background-color: transparent;
    color: #101010;
    font-size: 16px;
    transition: all .7s ease-in-out;
    margin: 8px 0px 8px 0px;
    border-radius: 8px;
    outline: none;
    background-position: 8px;
    background-size: 25px;
    background-repeat: no-repeat;
}
.duoLineLogin input[type="password"]{
    width: 95%;
}
.duoLine input[type="password"] {
    padding: 5px 35px 3px 35px;
    transition: all .7s ease-in-out;
}
.btRegistro {
    background-color: #eee;
    border: 0;
    width: 140px;
    height: 45px;
    border: 1px solid var(--azul);
    border-radius: 12px;
    margin: 12px 60px 12px auto;;
    font-size: 16px;
    color: var(--azul);
    font-weight: 100;
    cursor: pointer;
}
.btRegistro:hover {
    color: #fff;
    background-color: var(--azul);
    transition: all 1s ease-in-out;
    background-image: url(../assets/images/SVGS/arrowDer.svg);
    background-size: 25px;
    background-position: 6.6rem 0.8rem;
    background-repeat: no-repeat;
}
.eye {
    max-width: 25px;
    max-height: 25px;
    cursor: pointer;
    position: absolute;
    margin: 5px 5px auto 5px;
    display: flex;
    right: 25px;
    top: 25px;
    transition: all .8s ease-in-out;
}
.eye:hover {
    transition: all .8s ease-in-out;
    transform: scale(1.05);
}
.land {
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.infos {
    position: absolute;
    width: 30rem;
    height: 17rem;
    overflow: hidden;
    padding: 12px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    word-break: break-word;
    top: 30%;
    left: 2rem;
    flex-direction: column;
}
.infos h1 {
    color: var(--azul);
    font-size: 2.5em;
    margin: 8px 0px;
    animation: izq 1s normal;
    transition: all 1s ease-in-out;
}
.infos span {
    color: #868686;
    letter-spacing: 0.5px;
    font-size: 14px;
    animation: der 1s normal;
    transition: all 1s ease-in-out;
}
.infos span b {
    font-size: 20px;
}
.loginForm {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: der 1s normal;
    transition: all 1s ease-in-out;
}
.conError {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.conError h1 {
    margin-top: -5rem;
    color: var(--azul);
    animation: aba 1s normal;
    transition: all 1s ease-in-out;
}
.panelControl {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contForma {
    width: 70%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contForma form {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.options {
    width: 23%;
    height: 100%;
    overflow: scroll;
    background-color: var(--azul);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 1s ease-in-out;
}
.workspace {
    width: 77%;
    height: 100vh;
    overflow: scroll;
    background-color: #eee;
    transition: all 1s ease-in-out;
}
.contProfile {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}
.profile {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
}
.contOptions {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
.opcion {
    width: 100%;
    height: 4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 40px;
    color: #fff;
    font-size: 14px;
}
.opcion:hover {
    transition: all .5s ease-in-out;
    background-color: #034b81;
    transform: scale(1.08);
}
.expansor {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 21%;
    top: 50%;
    background-color: #eee;
    cursor: pointer;
    border: 2px solid var(--azul);
    background-image: url(../assets/images/SVGS/left.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    z-index: 2;
    transition: all 1s ease-in-out;
}
.embedWindow {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.passed,.passedL {
    width: 350px;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    left: 40%;
    top: 40%;
    background-color: var(--azul);
    border-radius: 12px;
    animation: aba 1.5s both;
    transition: all 1s ease-in-out;
    box-shadow: 6px 12px 20px 0 #00000021;
    z-index: 3;
}
.noPassed,.noPassedL {
    width: 350px;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    left: 40%;
    top: 40%;
    background-color: #e91e63;
    border-radius: 12px;
    animation: aba 1.5s both;
    transition: all 1s ease-in-out;
    box-shadow: 6px 12px 20px 0 #00000021;
    z-index: 3;
}
.passed h1,
.noPassed h1,
.passedL h1,
.noPassedL h1 {
    color: var(--azul);
    font-size: 1.2em;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 0;
    border-radius: 0px 0px 12px 12px;
}
.passed img,
.noPassed img,
.passedL img,
.noPassedL img {
    max-width: 60px;
    max-height: 60px;
    display: flex;
    position: absolute;
    top: 2.9rem;
    margin: 0 auto 0 auto;
}
.passed span,
.noPassed span,
.passedL span,
.noPassedL span {
    color: #fff;
    position: absolute;
    top: 10px;
    display: flex;
    margin: 0 auto 0 auto;
}
.passedL button,
.noPassedL button {
    position: absolute;
    display: flex;
    border: 1px solid var(--azul);
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--azul);
    border-radius: 8px;
    bottom: 1.5rem;
    margin: 0 auto 0 auto;
    cursor: pointer;
}
.passedL button:hover,
.noPassedL button:hover {
    transition: all .8s ease-in-out;
    background-color: var(--azul);
    color: #fff;
}
.conten {
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.caja {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.vehiculo {
    width: 18rem;
    height: 8rem;
    border-radius: 8px;
    border: 1px solid var(--azul);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    position: relative;
    line-height: 25px;
}
.dato b {
    color: var(--azul);
}
.placa {
    position: absolute;
    bottom: 15px;
    right: 10px;
    width: 90px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #000;
    box-shadow: 0 0 0 3px orange;
    letter-spacing: 1px;
    color: #101010;
}
.placa b {
    position: absolute;
    font-size: 6px;
    margin-bottom: -30px;
    letter-spacing: 0px;
    color: #101010;
}
.btSalida {
    width: 80px;
    height: 40px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 10px;
    background-color: green;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    border: 0;
    transition: all .7s ease-in-out;
}
.btSalida:hover {
    transition: all .7s ease-in-out;
    transform: scale(1.08);
}
.vcolor {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    border-radius: 50%;
    top: 8px;
    margin: 6px 0px 0px 50%;
}
.espacio {
    width: 100%;
    height: 90vh;
    display: flex;
    margin-top: 10vh;
}
#FiltrarContenido {
    width: 220px;
    height: 35px;
    display: flex;
    position: absolute;
    top: 12vh;
    margin: 0 auto 0 auto;
    border: 1px solid var(--azul);
    border-radius: 8px;
    padding: 5px 40px;
    font-size: 14px;
    background-image: url(../assets/images/SVGS/lupa.svg);
    background-position: 8px;
    background-repeat: no-repeat;
    background-size: 25px;
}
.btlogo {
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    background-color: var(--azul);
    color: #fff;
    border-radius: 8px;
    margin: 12px;
    cursor: pointer;
    padding: 10px;
    margin: 12px 25px -5px 25px;
}
#preview {
    position: absolute;
    bottom: 5rem;
    right: 5rem;
}
.tabla {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    overflow: auto;
}
.tabla tr {
    height: 30px;
}
.tabla tr th {
    padding: 10px;
    text-align: center;
    background-color: #034b81;
    color: #fff;
}
.tabla tr td {
    padding: 10px;
    text-align: center;
    background-color: #ebebeb;
    color: #101010;
    box-shadow: 0 0 0 0.2px #444;
}
.navBarMobile {
    display: none;
}
.colo {
    width: 70px;
}
.delete {
    max-width: 25px;
    max-height: 25px;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .navBar {
        display: none;
    }
    .navBarMobile {
        display: flex;
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-image: url(../assets/images/EasyParking.png);
        background-size: 50px;
        background-position: 8px;
        background-repeat: no-repeat;
    }
    .hamb {
        width: 8vh;
        height: 8vh;
        display: flex;
        margin: 0 auto 0 auto;
        position: absolute;
        right: 1rem;
        background-image: url(../assets/images/SVGS/hamb.svg);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
        transition: all .8s ease-in-out;
    }
    .opciones {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 10vh;
        left: 0%;
        background-color: var(--azul);
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 3;
        flex-direction: column;
        animation: aba .8s both;
        transition: all .8s ease-in-out;
    }
    .opciones a {
        width: 100%;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
        margin: 8px;
        color: #fff;
        font-size: 14px;
        animation: aba 1s both;
        transition: all .8s ease-in-out;
    }
    .land {
        height: 100%;
        flex-direction: column-reverse;
    }
    .tabla {
        justify-content: unset;
    }
    .land .leftSide,.land .rightSide {
        width: 100%;
    }
    .icono {
        width: 100%;
        height: 100%;
    }
    .infos {
        width: 90%;
        height: auto;
        position: unset;
    }
    .infos h1 {
        font-size: 2em;
    }
    .infos span {
        font-size: 13px;
        line-height: 1.4;
    }
    .contenidos {
        flex-direction: column;
    }
    .contenidos .leftSide,.contenidos .rightSide {
        width: 100%;
    }
    .options {
        width: 100%;
    }
    .workspace {
        width: 0%;
    }
    .expansor {
        left: 85%;
    }
    .espacio {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .espacio .leftSide,
    .espacio .rightSide {
        width: 100%;
    }
    .contForma {
        width: 100%;
    }
}
