<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ url_for('static',filename='assets/images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | Easy Parking</title>
</head>
<body>
    <div class="contenidos">
        <div class="navBar">
            <span class="subt">Easy Parking</span>
            <a onclick="accion('/#')">Inicio</a>
            <a onclick="accion('/#')">Iniciar sesión</a>
            <a onclick="accion('/signup')">Registrarme</a>
            <a onclick="accion('/#')">Soporte</a>
        </div> 
        {% block contenido %} {% endblock %}
    </div>
</body>
<script src="{{ url_for('static',filename='js/main.js') }}"></script>
</html>