{% extends "index.html" %}
{% block contenido %}
<div class="land">
    <div class="infos">
        <h1>Toma el control de tu negocio!</h1>
        <span><b>Easy Parking</b> es un sistema que gestiona y
             organiza las operaciones de su negocio de parking;
              simplificando la manera en que se lleva el control de plazas disponibles,
               acciones de facturación, trazabilidad diaria de ingreso de vehículos
                y estructura financiera con sistema de ingresos y egresos.</span>
    </div>
</div>
{% endblock %}